@import '@/assets/styles/colors.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
  height: 100%;
  font-family: Europa,Helvetica Neue,Helvetica,sans-serif;
  color: #002d3c;
}

body {
  position: relative;
  background: #f4fafe;
}

.text-success {
  color: $success;
}

.text-primary {
  color: $primary;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}

.text-danger {
  color: $danger;
}
