@import '@/assets/styles/colors.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
  height: 100%;
  overflow: hidden;
  font-family: Europa,Helvetica Neue,Helvetica,sans-serif;
  color: #002d3c;
}

body {
  position: relative;
  margin: 0px;
  overflow: auto;
  height: 100%;
}

.text-success {
  color: $success;
}

.text-primary {
  color: $primary;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}

.text-danger {
  color: $danger;
}

.card {
  background: #fff;
  margin: 0 auto 3rem auto;
  padding: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}